.categories {
  margin-top: 32px;
  justify-content: space-between;
  @include respond(tab-port) {
    width: 100vw;
    padding: 0 2.4rem;
  }
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.category_box {
  width: 32%;
  height: 170px;
  // border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  @include respond(tab-port) {
    flex: 0 0 32%;
    white-space: nowrap; /* Prevent items from wrapping to new lines */
  }
  @include respond(tab-port) {
    flex: 0 0 25rem;
  }
}
